.container {
  background: #212121;
  width: 100%;
  color: #ffffff;
  padding: 0 16px 16px;
  box-sizing: border-box;
  height: 100%;
  overflow: auto;
}
.container::-webkit-scrollbar {
  display: none;
}
.heading {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 16px;
  top: 0px;
  position: sticky;
  width: 100%;
  z-index: 1;
  background-color: #212121;
}
/* button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  box-sizing: border-box;
  border: 1px solid #ffffff;
  border-radius: 16px;
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
}
button:hover {
  border: 1px solid #000000;
  background-color: #ffffff;
  color: #000000;
  box-shadow: 4px 4px 4px 0px;
} */

.button {
  cursor: pointer;
  color: #fff;
  box-shadow: 0 1px 2px 0 #171717;
  width: 100%;
  padding: 8px 12px;
  border-radius: 6px;
  box-sizing: border-box;
  background: #171717;
  border: none;
}

.button:hover {
  box-shadow: 0 2px 2px 0px #ffffff;
  border: 1px groove #ffffff;
}
