.account-details-container {
  padding: 16px;
  box-sizing: border-box;
  margin-bottom: 32px;
  background-color: #ffffff10;
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  border: 2px solid #ffffff1a;
  box-shadow: 0 0 16px #08071099;
  border-radius: 12px;
}
.account-details-heading {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.account-details {
  margin-bottom: 1rem;
}

.account-detail {
  display: flex;
  margin-bottom: 0.5rem;
  box-sizing: border-box;
  height: auto;
  font-size: 1rem;
  align-items: center;
}

.account-detail-title {
  margin: 0;
  font-weight: 500;
  margin-right: 0.5rem;
}

.account-detail-value {
  margin: 0;
  color: #ffffff90;
  text-overflow: ellipsis;
  overflow: hidden;
  display: flex;
}

.topup-history-container {
  padding: 16px;
  box-sizing: border-box;
  background-color: #ffffff10;
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  border: 2px solid #ffffff1a;
  box-shadow: 0 0 16px #08071099;
  border-radius: 12px;
}

.topup-history-title {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.topup-table {
  width: 100%;
  background-color: #444444;
  border-spacing: 1px;
  -webkit-border-horizontal-spacing: 0px;
  -moz-border-horizontal-spacing: 0px;
}

.topup-table-head {
  background-color: #171717;
}
.topup-table-head-value {
  padding: 0.5rem;
  box-sizing: border-box;
}

.topup-table-body-value{
  padding: 0.5rem;
  box-sizing: border-box;
  text-align: center;
}
.topup-table-body-row:nth-child(odd){
  background-color: #212121;
}
.topup-table-body-row:nth-child(even){
  background-color: #2f2f2f;
}

.table-navigation-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0.5rem;
  box-sizing: border-box;
}

.navigation-button-container {
  display: flex;
  box-sizing: border-box;
  gap: 1rem;
}

.topup-table-container {
  margin-bottom: 1rem;
}

.page-no-value {
  font-weight: 600;
}

.button.reset-password-button{
  width: auto;
}