.loginpage-container {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f1f1f;
    color: #ffffff;
    background-image: url('../../assets/Meteor.svg');
    background-size: cover;
  }
  .loginpage-message-wrapper {
    max-height: 50vh;
    width: 100%;
    /* background-image: url('../../assets/bg-purple-2.jpg'); */
    background-size: cover;
    padding: 5rem 16px 14rem;
    box-sizing: border-box;
    border-radius: 16px;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .loginpage-message-title {
    color: #ffffff;
    font-size: 48px;
    font-weight: 700;
    letter-spacing: -1px;
    margin-bottom: 16px;
  }
  .loginpage-message {
    color: #ffffff;
    font-size: 16px;
  }
  .login-container {
    position: relative;
    width: fit-content;
    min-width: 30%;
    max-width: 80%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 16px;
    background-color: #ffffff10;
    backdrop-filter: blur(12px);
    border: 2px solid #ffffff1a;
    box-shadow: 0 0 40px #08071099;
    border-radius: 12px;
  }
  .login-container-title {
    margin-bottom: 24px;
    font-size: 20px;
    line-height: 1.375;
    font-weight: 600;
    letter-spacing: -1px;
  }
  .login-app-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
  }
  .login-app-button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 16px;
    margin-right: 8px;
    border: 1px solid;
    border-radius: 8px;
  }
  .login-app-button:hover{
    background-color: #0d0d0d;
  }
  .login-app-button:last-child {
    margin-right: 0;
  }
  
  .login-container-devider {
    width: 100%;
    text-align: center;
  }
  .login-container-devider p {
    margin-top: 0px;
  }
  .login-container-devider p::before {
    content: "";
    display: inline-block;
    width: 30%;
    height: 1px;
    position: relative;
    vertical-align: middle;
    right: 0.5em;
    background: linear-gradient(90deg, transparent, #ffffff75, #ffffff75);
  }
  .form-control:focus-visible {
    outline: #ffffff;
  }
  .form-control::placeholder {
    color: #ffffff50;
  }
  .login-container-devider p::after {
    content: "";
    display: inline-block;
    width: 30%;
    height: 1px;
    position: relative;
    vertical-align: middle;
    left: 0.5em;
    background: linear-gradient(90deg, #ffffff75, #ffffff75, transparent);
  }
  .login-input {
    margin-bottom: 16px;
    width: 100%;
  }
  .form-control {
    box-sizing: border-box;
    border-left-width: 1px;
    box-shadow: #0c1a240f 0px 1px 2px 0px;
    border-radius: 6px;
    display: block;
    width: 100%;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 16px;
    color: #ffffff;
    background-color: #ffffff10;
    background-clip: padding-box;
    appearance: none;
    padding: 8px 12px;
    border-width: 1px;
    border-style: solid;
    border-color: #dde0e5;
    border-image: initial;
    transition: box-shadow 0.15s ease 0s,
      border-color 0.2s cubic-bezier(0.655, 0.055, 0.345, 1) 0s;
  }
  .login-check-container {
    width: 100%;
    padding: 0px;
    box-sizing: border-box;
    margin-bottom: 16px;
    cursor: pointer;
    text-align: left;
  }
  .login-check-input {
    position: relative;
    background-color: #212121;
    height: 20px;
    border-width: 0px;
    border-style: solid;
    border-color: #e9ecef;
    border-image: initial;
    cursor: pointer;
    width: 40px;
    background-image: none;
    background-position: 0px center;
    border-radius: 40px;
    transition: all 0.15s ease-out 0s;
    float: left;
    appearance: none;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 0.135rem;
    vertical-align: top;
    margin-right: 8px;
  }
  .login-check-input::after {
    content: "";
    width: 14px;
    height: 14px;
    position: absolute;
    background-color: #ffffff;
    transform: translateX(3px) translateY(3px);
    box-shadow: #0c1a2417 0px 12px 1.0625rem -0.3125rem,
      #0c1a240a 0px 4px 0.4375rem -0.1875px;
    /* top: 1px; */
    transition: transform 0.25s ease-in-out 0s,
      background-color 0.25s ease-in-out 0s;
    border-radius: 50%;
  }
  .login-check-input:checked {
    background-image: none;
    background-position: 100% center;
    background-color: #171717;
    border-color: #171717;
  }
  .login-check-input:checked::after {
    transform: translateX(22px) translateY(3px);
  }
  .login-check-label {
    cursor: pointer;
  }
  .login-submit-button {
    width: 100%;
    margin-bottom: 8px;
  }
  .sign-in-button {
    cursor: pointer;
    color: #fff;
    box-shadow: 0 1px 2px 0 #171717;
    margin-bottom: 8px;
    width: 100%;
    padding: 8px 12px;
    border-radius: 6px;
    box-sizing: border-box;
    background: #171717;
    border: none;
  }
  .sign-in-button.disabled {
    background: #17171770;
    box-shadow: 0 1px 2px 0 #17171770;
    cursor: default;
  }
  .sign-up-button span {
    font-weight: 500;
    text-decoration: underline;
    cursor: pointer;
  }
  