.header-container{
  display: flex;
  height: 3rem;
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  background: #0d0d0d;
  color: #ffffff;
  align-items: center;
  justify-content: space-between;
}